/* Page */
body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  color: #22223b;
  font-family: "Rubik", Arial, sans-serif;
  display: flex;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f7f5f4;
}

section {
  padding: 20px;
  margin: 20px;
}

.body-wrap {
  margin: 20px auto;

  max-width: 1220px;
}

/* Nav */
header {
  background-color: #f2e9e4;
  color: white;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  color: #9a8c98;
  text-decoration: none;
  font-weight: 600;
}
nav ul li a:hover {
  padding-bottom: 2px;
  border-bottom: 2px #c9ada7 solid;
}

/* typography */

header h1 {
  color: #4a4e69;
}

.underlined {
  padding-bottom: 2px;
  border-bottom: 2px #c9ada7 solid;
}

/* footer */

footer {
  background-color: #1b3d5c;
  color: white;
  text-align: center;
  margin-top: auto;
  padding: 10px 0;
}

/* .about */

.about {
  display: flex;
  gap: 20px;
}
.about-pic {
  flex-grow: 1;
}
.about-pic img {
  min-width: 100px;
}
.about-text {
  flex-grow: 2;
  max-width: 1000px;
}

/* projects */

.projects {
  position: relative;
  background-color: #1b3d5c;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 0 20px 5px #22223b21;
  color: #f3f0eb;
}
.projects-wrap {
  position: relative;
  padding: 0px;
}
.projects-wrap:before {
  content: " ";
  display: block;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-image: url("./images/socialiconpattern.png");
  background-size: cover;
  background-repeat: repeat;
}
.gallery {
  display: flex;
  position: relative;
  z-index: 10;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.projects-text {
  position: relative;
  z-index: 15;
  justify-content: space-between;
  flex-wrap: wrap;
}
.placeholder {
  flex-grow: 1;
  min-height: 200px;
  background-color: #c8ddef;
  margin: 10px;
  border-radius: 20px;
  z-index: 1;
  min-width: 200px;
}

/* Contact Form */

.contact {
  text-align: center;
}
.contact .contact-wrap {
  background-color: #fff;
  padding: 0px;
  margin: 0;
  border-radius: 0 0 20px 20px;
  border: #4a4e69 4px solid;
  border-top: 0px;
}
.contact h2 {
  background-color: #c8ddef;
  border-radius: 20px 20px 0 0;
  padding: 10px;
  margin-bottom: 0px;
  border-bottom: #4a4e69 4px solid;
}
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

form {
  padding: 20px;
  max-width: 600px;
  margin: auto;
}
.contact-wrap {
  position: relative;
  display: flex;
}
.contact-borderArt {
  position: relative;
  padding: 0px;
  width: -moz-available;
  max-width: 100%;
}
.contact-borderArt:before {
  content: " ";
  display: block;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-image: url("./images/socialiconpattern.png");
  background-size: cover;
  background-repeat: repeat;
}
form h3.formBlock {
  flex-grow: 2;
}
form .formBlock {
  flex-grow: 1;
  display: flex;
  gap: 20px;
  align-items: self-end;
}
form .formBlock.flex-wrap {
  align-items: center;
}
.flex-innerwrap {
  flex-direction: row;
}
.innerformBlock {
  display: flex;
  gap: 5px;
  flex-direction: row;
  align-items: self-end;
}
.contact .input-wrap input,
.contact .input-wrap textarea,
.contact .input-wrap select {
  padding: 10px;
  border: #4a4e69 2px solid;
  border-radius: 20px;
  font-family: "Rubik", Arial, sans-serif;
}
.contact input:focus,
.contact textarea:focus,
.contact select:focus {
  outline: 0;
}
.contact .input-wrap textarea {
  width: 100%;
  border-radius: 20px 20px 0 20px;
}
.input-wrap:has(> select) {
  width: 100%;
}
.input-wrap:has(> textarea) {
  width: 100%;
}
.contact select {
  width: 100%;
  background-color: #c8ddef;
}
.contact select:hover {
  background-color: #90afca;
}
.contact select:active {
  background-color: #90afca;
}
.formBlock.formSubject {
  gap: 5px;
  margin: 20px;
  margin-right: 0;
}
.formBlock.formSubmit {
  margin: 20px;
  margin-bottom: 0;
}
.formBlock.formSubmit input {
  background-color: #c8ddef;
}
.formBlock.formSubmit input:hover {
  background-color: #dde8f1;
}
.formBlock.formSubmit input:active {
  background-color: #b6cee2;
}

/* Validation */
.formBlock:has(> .error) {
  gap: 0px;
}

.contact .input-wrap.valid input,
.contact .input-wrap.valid select,
.contact .input-wrap.valid textarea {
  border-color: #0bb9c5;
}

.contact .input-wrap.invalid input,
.contact .input-wrap.invalid select,
.contact .input-wrap.invalid textarea {
  border-color: #c50b58;
}

.input-wrap .error {
  color: rgb(218, 28, 117);
  font-size: 12px;
  text-align: left;
  position: absolute;
}
.gallery div img {
  max-width: 320px;
  margin: auto 0;
  border-radius: 10px;
  display: block;
}
.img-wrap {
  margin: 10px;
  border-radius: 20px;
  z-index: 1;
  display: block;
}
.img-wrap span {
  color: #22223b;
  padding-bottom: 10px;
}
.btn {
  margin: 10px;
  color: #22223b;
  padding: 8px;
  background-color: #fff;
  border-radius: 10px;
  height: 24px;
  display: block;
}
.btn:hover {
  background-color: #e8ecf0;
}
.btn:active {
  background-color: #a7b7c9;
}
.hide {
  display: none;
}
.show {
  display: block;
}
/* Media Queries for Mobile Devices */
@media only screen and (max-width: 600px) {
  nav ul li {
    margin: 0 5px;
  }

  section {
    padding: 10px;
    margin: 10px;
  }
  .flex-innerwrap {
    flex-direction: column;
  }
  .projects-text {
    justify-content: space-evenly;
  }
}


.root{
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  
  #wrapper, #wrapper2, #wrapper3 {
    overflow: hidden;
    display: none;
    width: 320px;
    background-color: #c8ddef;
    margin-top: 10px;
    border-radius: 20px;
  }
  
  .text {
    padding: 0.5em 1em;
    border: 1px solid #5d5f79;
    color: #22223b;
    border-radius: 20px;
  }
  
  .button {
    color: #22223b;
    padding: 8px;
    background-color: #fff;
    border-radius: 10px;
    height: 24px;
    display: block;
    margin: 10px;
    cursor: pointer;
  }
  .button:hover{
    background-color: #c0d8e4;
  }
  .filter-btn{
    font-family: "Rubik", Arial, sans-serif;
    font-weight: bold;
    padding: 10px;
    border: none;
  }
  .d-flex{
    display:flex;
  }
  .btn-group{
    justify-content: space-around;
    align-items: center;
  }