/* Page */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #22223b;
    font-family: "Rubik", sans-serif;
    display: flex;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

section {
    padding: 20px;
    margin: 20px;
}

.body-wrap{
    margin: 20px auto;
   
    max-width: 1220px;
}

/* Nav */
header {
    background-color: #f2e9e4;
    color: white;
    padding: 20px;
    text-align: center;
}



nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #9a8c98;
    text-decoration: none;
    font-weight: 600;
}
nav ul li a:hover {
    padding-bottom: 2px;
    border-bottom:  2px #c9ada7 solid;
}

/* typography */

header h1 {
    color: #4a4e69;
}

.underlined{
    padding-bottom: 2px;
    border-bottom:  2px #c9ada7 solid;
}

/* footer */

footer {
    background-color: #1b3d5c;
    color: white;
    text-align: center;
    margin-top: auto;
    padding: 10px 0;
}

/* .about */

.about{
    display: flex;
    gap: 20px; 
}
.about-pic{
    flex-grow: 1;
}
.about-pic img {
    min-width: 100px;
} 
.about-text{
    flex-grow: 2;
    max-width: 1000px;
}

/* projects */

.projects {
    position: relative;
    background-color: #1b3d5c;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 20px 5px #22223b21;
    color: #fff;
}
.projects-wrap{
    position: relative;
    padding: 0px;
}
.projects-wrap:before{
    content: ' ';
    display: block;
    z-index: 2;
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background-image: url("./images/socialiconpattern.png");
    background-size: cover;
    background-repeat: repeat;
}
.gallery{
    display: flex;
    position: relative;
    z-index: 10;
    flex-wrap: wrap;
}
.projects-text{
    position: relative;
    z-index: 15;
}
.placeholder{
    flex-grow: 1;
    min-height: 200px;
    background-color: #c8ddef;
    margin: 10px;
    border-radius: 20px;
    z-index: 1;
    min-width: 200px;
}
.contact{
    text-align: center;
}
.contact .placeholder{
    background-color: #ffffff;
    padding: 10px;
    margin: 0;
    border-radius:  0 0 20px 20px;
    border: #4a4e69 4px solid;
    border-top: 0px;
}
.contact h2{
    background-color: #c8ddef;
    border-radius:  20px 20px 0 0;
    padding: 10px;
    margin-bottom: 0px;
    border-bottom: #4a4e69 4px solid;

}
/* Media Queries for Mobile Devices */
@media only screen and (max-width: 600px) {
    nav ul li {
        margin: 0 5px;
    }

    section {
        padding: 10px;
        margin: 10px;
    }
}
