:root {
  /* Colors */
  --robin-l: #c8ddef;
  --robin: #90afca;
  --blue-l: #4a4e69;
  --blue: #1b3d5c;
  --blue-d: #22223b;
  --white: #fff;
  --white-d: #f7f5f4;
  --pink-l: #f2e9e4;
  --pink: #c9ada7;
  --mauve: #9a8c98;
  /* Typography */
  --font: "Rubik", Arial, sans-serif;

  /* Spacing */
  --sm: 10px;
  --md: 20px;
}

/* Page */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  color: var(--blue-d);
  font-family: var(--font);
  display: flex;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--white-d);
}

section {
  padding: var(--md);
  margin: var(--md);
}

.body-wrap {
  margin: 20px auto;

  max-width: 1220px;
}

/* Nav */
header {
  background-color: var(--pink-l);
  color: white;
  padding: var(--md);
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  color: var(--mauve);
  text-decoration: none;
  font-weight: 600;
}
nav ul li a:hover {
  padding-bottom: 2px;
  border-bottom: 2px var(--pink) solid;
}

/* typography */

header h1 {
  color: var(--blue-l);
}

.underlined {
  padding-bottom: 2px;
  border-bottom: 2px var(--pink) solid;
}

/* footer */

footer {
  background-color: var(--blue);
  color: white;
  text-align: center;
  margin-top: auto;
  padding: 10px 0;
}

/* .about */

.about {
  display: flex;
  gap: var(--md);
}
.about-pic {
  flex-grow: 1;
}
.about-pic img {
  min-width: 100px;
}
.about-text {
  flex-grow: 2;
  max-width: 1000px;
}
.quick-skills{
  display: flex;
  border: var(--blue-d) 1px solid;
  border-radius: var(--sm);
  gap: var(--sm);
}

/* projects */

.projects {
  position: relative;
  background-color: var(--blue);
  border-radius: var(--md);
  padding: var(--md);
  box-shadow: 0 0 20px 5px #22223b21;
  color: #f3f0eb;
}
.projects-wrap {
  position: relative;
  padding: 0px;
}
.projects-wrap:before {
  content: " ";
  display: block;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-image: url("./images/socialiconpattern.png");
  background-size: cover;
  background-repeat: repeat;
}
.gallery {
  display: flex;
  position: relative;
  z-index: 10;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.projects-text {
  position: relative;
  z-index: 15;
  justify-content: space-between;
  flex-wrap: wrap;
}
.placeholder {
  flex-grow: 1;
  min-height: 200px;
  background-color: var(--robin-l);
  margin: var(--sm);
  border-radius: var(--md);
  z-index: 1;
  min-width: 200px;
}

/* Contact Form */

.contact {
  text-align: center;
}
.contact .contact-wrap {
  background-color: var(--white);
  padding: 0px;
  margin: 0;
  border-radius: 0 0 20px 20px;
  border: var(--blue-l) 4px solid;
  border-top: 0px;
}
.contact h2 {
  background-color: var(--robin-l);
  border-radius: 20px 20px 0 0;
  padding: var(--sm);
  margin-bottom: 0px;
  border-bottom: var(--blue-l) 4px solid;
}
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: var(--md);
}

form {
  padding: var(--md);
  max-width: 600px;
  margin: auto;
}
.contact-wrap {
  position: relative;
  display: flex;
}
.contact-borderArt {
  position: relative;
  padding: 0px;
  width: -moz-available;
  max-width: 100%;
}
.contact-borderArt:before {
  content: " ";
  display: block;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-image: url("./images/socialiconpattern.png");
  background-size: cover;
  background-repeat: repeat;
}
form h3.formBlock {
  flex-grow: 2;
}
form .formBlock {
  flex-grow: 1;
  display: flex;
  gap: var(--md);
  align-items: self-end;
}
form .formBlock.flex-wrap {
  align-items: center;
}
.flex-innerwrap {
  flex-direction: row;
}
.innerformBlock {
  display: flex;
  gap: 5px;
  flex-direction: row;
  align-items: self-end;
}
.contact .input-wrap input,
.contact .input-wrap textarea,
.contact .input-wrap select {
  padding: var(--sm);
  border: var(--blue-l) 2px solid;
  border-radius: var(--md);
  font-family: var(--font);
}
.contact input:focus,
.contact textarea:focus,
.contact select:focus {
  outline: 0;
}
.contact .input-wrap textarea {
  width: 100%;
  border-radius: 20px 20px 0 20px;
}
.input-wrap:has(> select) {
  width: 100%;
}
.input-wrap:has(> textarea) {
  width: 100%;
}
.contact select {
  width: 100%;
  background-color: var(--robin-l);
}
.contact select:hover {
  background-color: var(--robin);
}
.contact select:active {
  background-color: var(--robin);
}
.formBlock.formSubject {
  gap: 5px;
  margin: var(--md);
  margin-right: 0;
}
.formBlock.formSubmit {
  margin: var(--md);
  margin-bottom: 0;
}
.formBlock.formSubmit input {
  background-color: var(--robin-l);
}
.formBlock.formSubmit input:hover {
  background-color: #dde8f1;
}
.formBlock.formSubmit input:active {
  background-color: #b6cee2;
}

/* Validation */
.formBlock:has(> .error) {
  gap: 0px;
}

.contact .input-wrap.valid input,
.contact .input-wrap.valid select,
.contact .input-wrap.valid textarea {
  border-color: #0bb9c5;
}

.contact .input-wrap.invalid input,
.contact .input-wrap.invalid select,
.contact .input-wrap.invalid textarea {
  border-color: #c50b58;
}

.input-wrap .error {
  color: rgb(218, 28, 117);
  font-size: 12px;
  text-align: left;
  position: absolute;
}
.gallery div img {
  max-width: 320px;
  margin: auto 0;
  border-radius: var(--sm);
  display: block;
}
.img-wrap {
  margin: var(--sm);
  border-radius: var(--md);
  z-index: 1;
  display: block;
}
.img-wrap span {
  color: var(--blue-d);
  padding-bottom: var(--sm);
}
.btn {
  margin: var(--sm);
  color: var(--blue-d);
  padding: 8px;
  background-color: var(--white);
  border-radius: var(--sm);
  height: 24px;
  display: block;
}
.btn:hover {
  background-color: #e8ecf0;
}
.btn:active {
  background-color: #a7b7c9;
}
.hide {
  display: none;
}
.show {
  display: block;
}



.root{
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  
  .wrapper{
    overflow: hidden;
    display: none;
    width: 320px;
    background-color: var(--robin-l);
    margin-top: var(--sm);
    border-radius: var(--md);
  }
  
  .text {
    padding: 0.5em 1em;
    color: var(--blue-d);
    border-radius: var(--md);
  }
  
  .button {
    color: var(--blue-d);
    padding: 8px;
    background-color: var(--white);
    border-radius: var(--sm);
    height: 24px;
    display: block;
    margin: var(--sm);
    cursor: pointer;
  }
  .button:hover{
    background-color: #c0d8e4;
  }
  .filter-btn{
    font-family: var(--font);
    font-weight: bold;
    padding: var(--sm);
    border: none;
  }
  .d-flex{
    display:flex;
  }
  .btn-group{
    justify-content: space-around;
    align-items: center;
  }




/* Dark Mode */

body.dark-mode {
  background-color: #16232b;
  color: var(--white);
}
body.dark-mode .projects-wrap:before{
  opacity: 0;
}
body.dark-mode h1, body.dark-mode h2 {
  color: var(--pink-l);
}
body.dark-mode .contact h2 {
  background-color: var(--blue-l);
}
body.dark-mode li a{
  color: var(--pink-l);
}
body.dark-mode header {
  background-color: #202e3b;
}

body.dark-mode .projects {
  background-color: #24323d;
}
body.dark-mode .wrapper {
  background-color: #3d505f;
}
body.dark-mode .text {
  color: var(--pink-l);
}

body.dark-mode .contact .contact-wrap {
  background-color:#24323d;
}

body.dark-mode .button,
body.dark-mode .btn {
  background-color: var(--blue);
  color: var(--robin-l);
}

body.dark-mode .button:hover,
body.dark-mode .btn:hover {
  background-color: var(--blue-d);
}
#dark-toggle{
  width: 80px;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: small;
  padding: 5px;
}
/* Media Queries for Mobile Devices */
@media only screen and (max-width: 600px) {
  nav ul li {
    margin: 0 5px;
  }

  section {
    padding: var(--sm);
    margin: var(--sm);
  }
  .flex-innerwrap {
    flex-direction: column;
  }
  .projects-text {
    justify-content: space-evenly;
  }
  #dark-toggle{
   position: relative;
   margin: auto;
  }
  .quick-skills{
    flex-wrap: wrap;
    padding: var(--md);
  }
  .about{
  flex-wrap:wrap;

  }
  .about-pic{
    width: 100%;
    text-align: center;
  }
  .about-pic img{
    max-width: 20px; 
  }
}